.alpha-panel .line {
  width: 600px;
  height: 2px;
  background-color: #a1005f;
  position: absolute;
  top: -10px;
  background-color: #c08962;
}

.banel-button {
  position: absolute;
  top: 150px;
  width: 300px;
}

.banel-product-name {
  position: absolute;
  top: -70px;
  width: 300px;
}

.alpha-panel .whey-protein-text {
  position: absolute;
  top: -50px;
  color: #ff6347;
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media (max-width: 768px) {
  .banel-button {
    top: 36px;
    width: auto;
    right: -176px;
    width: 100px;
  }

  .button-33 {
    padding: 7px 18px;

    font-size: 11px;
  }
}
